<h1>Edit Profile
<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user, :html => {:multipart => true} do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true, :required => true %>

  <%= f.label :email %>
  <%= f.text_field :email, :required => true %>

  <%= f.label :image %>
  <%= file_field_tag :image %>

  <%= f.label :location %>

  <% if @user.location.nil? %>
    <%= f.text_field :location,:placeholder=>'Location'  %>
  <% else %>
    <%= f.text_field :location, :value => @user.location.name %>
  <% end %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save Changes", :class => "btn btn-primary"%>
<% end %>
