<h1>Edit Profile
<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true, :required => true %>

  <%= f.label :email %>
  <%= f.text_field :email, :required => true %>

  <%= f.label :image %>
  <%= f.url_field :image %>

  <%= f.label :location %>
  <%= f.text_field :location, :value => @user.location.name %>
  <!-- <%#= f.select :location_id, Location.pluck(:name, :id), :include_blank => true %> -->

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save Changes", :class => "btn btn-primary"%>
<% end %>
