<div class="container">
  <div class="row">
    <div class="users col-md-4">
      <div class="searchresheadings">
        <h4>rAssists</h4>
      </div>
      <% @users.each do |user| %>
      <% if user.image.present? %>
      <%= link_to cl_image_tag(user.image, :class => "img-circle"), user  %>
      <% else %>
      <%= link_to image_tag('avatar.jpg', :class => "img-circle show-img"), user %>
      <% end %>
  <!-- <%#= link_to user.image, user %> -->
  <!-- <%#= image_tag user.image %> -->
      <% end %>
    </div>

<!-- <p>
  <strong>Address:</strong>
  <%= @loc.name %>
</p> -->

    <!-- <div class="map col-md-4">
      <div class="searchresheadings">
        <h4>Location Map</h4>
      </div>
      <%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@loc.latitude}%2C#{@loc.longitude}" %>
    </div> -->

    <div class="postcards col-md-4">
      <div class="searchresheadings">
        <h4>Post Cards</h4>
      </div>
      <% @pic_references.each do |pic|%>
        <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{pic}&key=AIzaSyCv0-SAulKA7HptNKQDsMNlT0jYrYx2eoE", :class => "imgpostcards"%>
      <% end %>
    </div>
<!-- <h3>Nearby locations</h3>
<ul>
<%# for location in @loc.nearbys(10) %>
  <li><%#= link_to location.name, location %> (<%#= location.distance.round(2) %> miles)</li>
<%# end %>
</ul> -->
  </div>
<!-- <%#= form_tag(search_path, :method => :get) do %>
  <input id="searchfield" type="text" name="name" placeholder="Search your favorite destination">
  <button id="searchbutton">Search</button>
<%# end %> -->
<div class="col-xs-7 col-xs-offset-4 searchdest">
<%= form_tag(search_path, :method => :get) do %>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input id="searchfield" type="text" class="form-control" name="name" placeholder="Search your favorite destination">
        <span class="input-group-btn">
          <button class="btn btn-default" id="searchbutton">Go!</button>
        </span>
      </div>
    </div>
  </div>
<% end %>
</div>

</div>
