<div class= "headerpage" id="container">
  <header>
    <h1>Welcome to remoteAssist !!</h1>
      <p>remoteAssist helps you find a helping hand and gets you information on your destination. Come join us and become part of our community to help other people in exploring new destinations</p>
      <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
  </header>

  <!-- <div class="photobanner">
    <%= image_tag "image1.jpg", :class => "first" %>
    <%= image_tag "image2.jpg" %>
    <%= image_tag "image3.jpg" %>
    <%= image_tag "image4.jpg" %>
    <%= image_tag "image5.jpg" %>
    <%= image_tag "image1.jpg" %>
    <%= image_tag "image2.jpg" %>
    <%= image_tag "image3.jpg" %>
    <%= image_tag "image4.jpg" %>
    <%= image_tag "image5.jpg" %>
  </div> -->

</div>
